*{
    box-sizing: border-box;
    margin: 0;
}

.nav-bar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;

}

.mobileMenu{
    display: none;
}

body .divider{
    width: 86vw;
    border-bottom: 1px solid hsl(219deg 1% 88%);
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-bottom: 20px;
}

.nav-bar .nav-bar1 .menu-icon{
    display: none;
}


.nav-bar .nav-bar1{
   width: 650px;
   display: flex;
   justify-content: space-between;
}

.nav-bar .nav-bar1 .list-container{
    display: flex;
    width: 462px;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;

}

.nav-bar .nav-menu{
    width: 280px;
    height: 100%;
    border: 1px solid black;
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-bar .nav-bar1 p{
    font-size: 1.6rem;
    color: hsl(219, 9%, 45%);
}

.nav-bar .nav-bar1 a{
    text-decoration: none;
}

.nav-bar2{
    display: flex;
    justify-content: space-between;
    width: 125px;
    height: 100%;
}

.cartContainer{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.cartContainer h1{
    font-size: 1.5rem;
    align-self: flex-start;
}

.cartContainer .buttonCheckout{
    width: 80%;
    color: hsl(0, 0%, 100%);
    background-color: hsl(26, 100%, 55%);
    border: none;
    border-radius: 9px;
    height: 50px;
    font-weight: bold;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.noneCart{
    display: none;
}

.displayCart{
    display: flex;
    flex-direction: column;
}

.nav-bar2 .user-image{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

main{
    display: flex;
    justify-content: center;
}

main .product{
    width: 500px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 70px;
}

main .product figure{
    display: none;
}

main .product .image-product{
    width: 90%;
    height: 390px;
    border-radius: 12px;

}

main .product .product-images{
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

main .product .product-images img{
    width: 100px;
    height: 100px;
    border-radius: 12px;
}


.container-info{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main .container-info .price-info{
    flex-wrap: wrap;
}

.container-info .product-info p:nth-child(1){
    font-size: 1.4rem;
}

.container-info .product-info h1{
    font-size: 4.5rem;
}

.container-info .product-info p:nth-child(3){
    font-size: 1.6rem;
    font-weight: 400;
}

.container-info .price-info p:nth-child(2){
    margin-right: 245px;
}

.container-info .price-info p:nth-child(3){
    margin-left: 0px;
    margin-top: 13px;
}


main .buy{
    display: flex;
    justify-content: space-between;
}

main .buy div{
    width: 300px;
    margin-right: 15px;
}

main .buy div img{
    cursor: pointer;
}

main .buy h1{
    font-size: 1.8rem;
}


@media screen and (min-width: 1440px) {
    main .product{
        width: 500px;
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 70px;
    }
    
    main .product figure{
        display: none;
    }
    
    main .product .image-product{
        width: 100%;
        height: 390px;
        border-radius: 12px;
    
    }
    
    main .product .product-images{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
    }
    
    main .product .product-images img{
        width: 100px;
        height: 100px;
        border-radius: 12px;
    }
}



/*
1440px
main .product{
    width: 500px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 70px;
}

main .product figure{
    display: none;
}

main .product .image-product{
    width: 100%;
    height: 390px;
    border-radius: 12px;

}

main .product .product-images{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

main .product .product-images img{
    width: 100px;
    height: 100px;
    border-radius: 12px;
}
*/